VITE_API_BASE_URL=http://localhost:8787
VITE_CDN_BASE_URL=http://localhost:8787/cdn
VITE_WEB_PUSH_VAPID_PUBLIC=BAj2WzGz2pa6xlABP1JdnUctcKylg6k5VkL03Pe-EouMC-a8EceZ1vnfN_bVj9GMK_vUqYyIYN7jNjcn8zxpy_0
VITE_APP_ENV=development
